*{
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: hsl(30, 10%, 34%);
}
html{
    background-color:hsl(30, 54%, 90%);
    display: flex;
    justify-content: center;
}
main{
  width: 375px;
  max-width: 100%;
}
article{
    background-color: hsl(0, 0%, 100%);
    padding: .9rem 1.9rem;
}
.img{
  width: 375px;
  position: relative;
  transform:translateX(-1.9rem);
}
h1{color: hsl(24, 5%, 18%);}
h2, li{color: hsl(14, 45%, 36%); }
h2{font-size: 1.75rem;}
h1, h2 {
    font-family: "Young Serif", serif;
    font-weight: 500;
    font-style: normal;
  }

.p1{font-weight: 500;}

p{font-size: 16px; line-height: 1.3rem;}

ul, ol{padding-left: 1.5rem;}

ul p, ol p{
  margin-left: 1rem;
}

.PreparationTime{
  padding: 1rem;
  background-color: hsl(330, 100%, 98%);
  border-radius: .8rem;
}
.PreparationTime h3{
margin: 0;
}
.PreparationTime ul{
  padding-left: 1.4rem;
  
}
.PreparationTime li, .PreparationTime h3{
  color: hsl(332, 51%, 32%);
}
.PreparationTime h3{
  font-weight: 700;
}


.Instructions ol li{
  font-weight: 700;
}
.nutrition, .Instructions{
  border-top: 1px solid hsl(30, 18%, 87%);
  padding-top: 1rem;
}

.PreparationTime, .Ingredients, .nutrition, .Instructions, .nutrition{
  margin-bottom: 2rem;
}

table{
  width: 95%;
  border-collapse: collapse;
}
td{
  text-align: center;
  padding: .75rem 0;
}
.data{
  text-align: left;
  color: hsl(14, 45%, 36%);
  font-weight: 700;
}
tr{
  border-top: 1px solid hsl(30, 18%, 87%);
}
tr:nth-child(1){
  border-top: none;
}

.nutrition p { margin-right: 0.5rem;}


@media (min-width: 376px) {
  main{
    width: 100vw;
  }
  article{
    margin: 5vh auto 5vh auto;
    width: 45vw;
    min-width: 376px;
    max-width: 45vw;
    border-radius: .9rem;
    overflow:hidden;
  }
  .img{
    border-radius: .5rem;
    width: 100%;
    height: auto;
    position:static;
    margin: 0.9rem 1.9rem;
  }
  td{
    text-align: left;
    padding-left: 2vw;
  }
}





.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }